<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="dark-bg bar bar-header-expanded disable-user-behavior">
      <div class="back-image"></div>
      <img  class="avatar" ng-src="{{$root.user.picture}}">
      <h1 style="color: #fff;
    font-size: 24px;
    font-weight: 600;
    left: 100px;
    position: absolute;
    right: 0;
    top: 20px;">{{$root.user.first_name}}</h1>
      <a href="#/profile"><span style="position:absolute; left:102px; top:60px; font-size:12px; color:#fff; cursor:pointer;">View Profile</span></a>
    </ion-header-bar>
    <ion-content class="light-bg scroll-content ionic-scroll has-header-expanded">
      <ion-list>
        <ion-item menu-close href="#/discovery">
          <img class="menu-icon" src="img/heart.png">
          <span class="title">Discovery Settings</span>
          <h5 class="subtitle">Distance, age, and more</h5>
        </ion-item>
        <ion-item menu-close href="#/application">
          <img class="menu-icon" src="img/fire.png">
          <span class="title">App Settings</span>
          <h5 class="subtitle">Notification, account, and more</h5>
        </ion-item>
        <ion-item menu-close href>
          <img class="menu-icon" src="img/question.png">
          <span class="title">Help & Support</span>
          <h5 class="subtitle">FAQ, contact and more</h5>
        </ion-item>
        <ion-item menu-close href>
          <img class="menu-icon" src="img/plus.png">
          <span class="title" style="color:#ff4b4b;">Get Tinder Plus</span>
          <h5 class="subtitle">Get More Super Likes</h5>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-header-bar class="bar-custom bar bar-header" align-title="center">
      <div class="buttons buttons-left header-item">
        <span class="left-buttons" >
          <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
          </button>
        </span>
      </div>
      <div class="title title-center header-item">
        <span ng-click="previous()">
          <a href="#/app" style="text-decoration:none;">tinder</a>
        </span>
      </div>
      <div class="buttons buttons-right header-item">
        <span class="right-buttons" ng-click="next()">
          <a class="button button-icon button-clear ion-chatbubbles" href></a>
        </span>
      </div>
    </ion-header-bar>
    <ion-content class="content-slide">
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class="row">
            <td-cards>
              <td-card ng-repeat="card in cards"
                on-destroy="cardDestroyed($index)"
                on-swipe="cardSwiped($index)"
                on-swipe-left="cardSwipedLeft($index)"
                on-swipe-right="cardSwipedRight($index)">
              <div class="image" ng-controller="CardCtrl">
                <div class="no-text">NOPE</div>
                <img ng-src="{{card.image}}" width="100%" height="100%">
                <div class="yes-text">LIKE</div>
              </div>
              <div class="name" ng-controller="CardCtrl" >
                <span>{{card.name}}</span>
                <span>,&nbsp;{{card.age}}</span>
              </div>
              </td-card>
            </td-cards>
          </div>
          <div style="width:100%; height:28%;">
            <div ng-if="cards.length <= 0" style="width:100%; height:100%;">
              <div style="text-align:center; margin-top:150px;">
                <img class="avatar" ng-src="{{$root.user.picture}}" style="height:120px; width:120px; position:relative; left:0; right:0;">
              </div>
              <br>
              <div style="margin-top:70px; text-align:center;">
                <span style="color:#999; font-size:20px; padding:25px;">There's no one new around you</span>
              </div>
            </div>
          </div>
          <div ng-if="cards.length > 0" class="action row">
            <div class="action-button" ng-click="replay()" style="background-image:url('img/typcn-refresh_20_0_e8b10c_none.png');"></div>
            <div class="action-button" ng-click="cardDestroyed()" style="height:90px; width:90px; background-image:url('img/mfglabs-cross_mark_32_0_ed463b_none.png');"></div>
            <div class="action-button" ng-click="cardDestroyed()" style="height:90px; width:90px; background-image:url('img/fa-heart_32_0_36c444_none.png');"></div>
            <div class="action-button" ng-click="superlike()" style="background-image:url('img/fa-star_20_0_1ab9ab_none.png');"></div>
          </div>
        </div>
        </ion-slide>
        <ion-slide>
          <div ng-if="match">
            <ion-list type="list" style="">
                <ion-item class="item item-thumbnail-left" href ng-repeat="user in chatMembers" ng-click="startChatting(user, userList[user].displayName)">
                    <img ng-src="{{userList[user].picture.replace('large', '') || defaultPicture }}">
                    <h2>{{userList[user].displayName}}</h2>
                    <p ng-if="userList[user].seller.closed">{{userList[user].seller.closed}}/{{userList[user].seller.opened}} &nbsp; &nbsp;{{userList[user].buyer}}</p>
                    <p ng-if="!userList[user].seller.closed">{{userList[user].seller}} &nbsp; &nbsp;{{userList[user].buyer}}</p>
                </ion-item>
            </ion-list>
          </div>
          <div ng-if="!match" style="text-align:center;" >
            <div style="margin-top:250px;">
              <span style="color:#999; font-size:22px;">You have no matches yet</span>
            </div>
            <div class="bar match-page-button" style="margin:5%; width:90%; margin-top:80px;" ng-click="previous()">
              <span class="title">Discover New People</span>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
  </ion-side-menu-content>
</ion-side-menus>
