<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="dark-bg bar bar-header-expanded disable-user-behavior">
      <div class="back-image"></div>
      <img  class="avatar" src="img/profile.jpg">
      <h1 style="color: #fff;
    font-size: 24px;
    font-weight: 600;
    left: 100px;
    position: absolute;
    right: 0;
    top: 20px;">{{$root.user.first_name}}</h1>
      <h5 style="position:absolute; left:102px; top:60px; font-size:12px; color:#fff;">View Profile</h5>
    </ion-header-bar>
    <ion-content class="light-bg scroll-content ionic-scroll has-header-expanded">
      <ion-list>
        <ion-item href="#/discovery">
          <img class="menu-icon" src="img/heart.png">
          <span class="title">Discovery Settings</span>
          <h5 class="subtitle">Distance, age, and more</h5>
        </ion-item>
        <ion-item href="#/application">
          <img class="menu-icon" src="img/fire.png">
          <span class="title">App Settings</span>
          <h5 class="subtitle">Notification, account, and more</h5>
        </ion-item>
        <ion-item href>
          <img class="menu-icon" src="img/question.png">
          <span class="title">Help & Support</span>
          <h5 class="subtitle">FAQ, contact and more</h5>
        </ion-item>
        <ion-item href>
          <img class="menu-icon" src="img/plus.png">
          <span class="title" style="color:#ff4b4b;">Get Tinder Plus</span>
          <h5 class="subtitle">Get More Super Likes</h5>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-header-bar class="bar-custom bar bar-header" align-title="center">
      <div class="buttons buttons-left header-item">
        <span class="left-buttons">
          <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
          </button>
        </span>
      </div>
      <div class="title title-center header-item">
        <span style="border-bottom:none; ">
          <a href="#/app" style="text-decoration:none;">tinder</a>
        </span>
      </div>
      <div class="buttons buttons-right header-item">
        <span class="right-buttons" style="border-bottom:solid; padding-bottom:46px;">
          <a class="button button-icon button-clear ion-chatbubbles" href="#/chat">
          </a>
        </span>
      </div>
    </ion-header-bar>
    <ion-content style="padding:20px;">
      <div ng-if="match">
        <ion-list type="list" style="">
            <ion-item class="item item-thumbnail-left" href ng-repeat="user in chatMembers" ng-click="startChatting(user, userList[user].displayName)">
                <img ng-src="{{userList[user].picture.replace('large', '') || defaultPicture }}">
                <h2>{{userList[user].displayName}}</h2>
                <p ng-if="userList[user].seller.closed">{{userList[user].seller.closed}}/{{userList[user].seller.opened}} &nbsp; &nbsp;{{userList[user].buyer}}</p>
                <p ng-if="!userList[user].seller.closed">{{userList[user].seller}} &nbsp; &nbsp;{{userList[user].buyer}}</p>
            </ion-item>
        </ion-list>
      </div>
      <div ng-if="!match" style="text-align:center;" >
        <div style="margin-top:250px;">
          <span style="color:#999; font-size:22px;">You have no matches yet</span>
        </div>
        <div class="bar match-page-button" style="margin-top:80px;" ng-click="goBack()">
          <span class="title">Discover New People</span>
        </div>
      </div>
    </ion-content>
  </ion-side-menu-content>
</ion-side-menus>
